@import (inline) '@{node_modules}/leaflet/dist/leaflet.css';

.nursinghomes__map {
  height: 360px;
  position: relative;
  background: @gray-lighter;
}

.nursinghomes__map__container {
  .container();
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.nursinghomes__map__header {
  position: absolute;
  width: 100%;
  bottom: 10%;
  pointer-events: none;
}

.nursinghomes__map__app-title {
  .category-tag(black, white);
  font-size: 16px;
  pointer-events: initial;
  opacity: .8;
}

.nursinghomes__map__title {
  color: @purple;
  font-size: 36px;
  margin: 20px 0 5px 0;
  padding: 0;
  pointer-events: none;
  text-shadow: 0  0 5px @gray-lighter;

  @media (min-width: @screen-md) {
    width: 60%;
  }
}

.nursinghomes__map__subtitle {
  text-shadow: 0  0 5px @gray-lighter;
}

.nursinghomes__map .leaflet-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: @gray-lighter;

  .leaflet-control-container {
    .container();
    position: relative;
    height: 100%;
  }

  .leaflet-control-attribution {
    font-family: @body-font;
    background: transparent;
    padding: 5px @grid-gutter-width/2;
  }

  .leaflet-popup-content-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: none;
    color: white;
    border-radius: 3px;
  }

  .leaflet-popup-content {
    margin: 10px 15px;
  }

  .leaflet-popup-tip {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: none;
  }
}
