{% load i18n %}

<div class="well">

  <p>{% trans "This information was published in the annual transparency report of the Medizinischer Dienst der Krankenkassen, which is a part of the public insurance companies in Germany. If a home has negative results in any category, you should ask why these issues exist and don’t assume that the whole nursing home is bad. On the other hand, you should also do some checks even if a home doesn’t have any indications of issues. The most important thing to visit the nursing home in person and see firsthand if you see signs of issues." %}</p>

  <ul>
    <li>
      <a href="#">{% trans "What does this data really reveal?" %}</a>
    </li>
    <li>
      <a href="#">{% trans "Download the transparency report here" %}</a>
    </li>
  </ul>

</div>

