{% load i18n %}
{% load static %}
{% load sekizai_tags %}
{% load leaflet_tags %}

<header class="custom-leaflet-map">

  <div class="custom-leaflet-map__container">
    <header class="custom-leaflet-map__header">
      <a href="{% url 'nursinghomes:nursinghomes-index' %}">
        <h1 class="custom-leaflet-map__app-title">
          {% trans "Nursing Home Guide" %}
        </h1>
      </a>
      <h2 class="custom-leaflet-map__title">
        {{ object.name }}
      </h2>
      <p class="custom-leaflet-map__subtitle">
        {{ object.provider_type }}
      </p>
    </header>
  </div>

  {% leaflet_map "nursinghomes" %}

  {% addtoblock "css" %}
    {% leaflet_css %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    {% leaflet_js %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'correctiv_nursinghomes/js/map.js' %}"></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script>
      window.addEventListener("map:init", function(event) {
        initMap({
          map: event.detail.map,
          items: {{ closest_nursinghomes|safe }},
          icons: {
            default: "{% static 'correctiv_nursinghomes/img/map-marker.svg' %}",
            hilight: "{% static 'correctiv_nursinghomes/img/map-marker--hilight.svg' %}"
          }
        })
      })
    </script>
  {% endaddtoblock %}

</header>
