{% load i18n %}

<p>
  {% with auth=object.supervision_authority %}
    {% blocktrans with name=auth.name url=auth.url %}
      This home is supervised by the Heimaufsicht (nursing home authority) <a href="{{ url }}">{{ name }}</a>.
    {% endblocktrans %}
  {% endwith %}
</p>

{% with reports=object.supervisionreport_set.all %}
  {% if reports %}
    <p>
      {% trans "The nursing home authority reports on homes periodically. Here is an example of this report." %}
    </p>

    <ul>
    {% for report in reports %}
      <li>
        {% if report.report %}
          <a href="{{ report.report.url }}" target="_blank">
            {{ report.date }}
            {% if report.report_type %}
              ({{ report.report_type }})
            {% endif %}
          </a>
        {% elif report.fds_url %}
          <a href="{{ report.fds_url }}" target="_blank">
            {{ report.report_type }} ({{ report.date }})
          </a>
        {% else %}
          {{ report.date }}
          {% if report.report_type %}
            ({{ report.report_type }})
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% else %}
    {% with example_report=object.get_example_report %}
      {% if example_report and example_report.report %}
        <p>
          {% blocktrans with url=example_report.report.url %}
            We don't have report for this nursing home, but <a href="{{ url }}" target="_blank">here is an example of how it looks like in your state</a>.
          {% endblocktrans %}
        </p>
      {% else %}
        <p>{% trans "Unfortunately, we don’t have any examples of reports from this home." %}</p>
      {% endif %}
    {% endwith %}
  {% endif %}
{% endwith %}

{% if object.supervision_authority %}

  {% if object.supervision_authority.report_url %}
    <p>
      <a href="{{ object.supervision_authority.report_url }}">{% trans "The supervision authority makes their reports available here." %}</a>
      {% trans "If you can't find it, ask below." %}
    </p>
  {% endif %}

  {% with fds_url=object.get_request_url %}
    {% if fds_url %}
      <a href="{{ fds_url }}" class="nursinghomes__fds-banner">
        <h3 class="nursinghomes__fds-banner__title">
          {% trans "Request your report with FragDenStaat.de" %}
        </h3>
        <p class="nursinghomes__fds-banner__subtitle">
          {% trans "Click here to request reports from the local Heimaufsicht" %}
        </p>
      </a>
    {% endif %}
  {% endwith %}

{% endif %}

<hr />

<p>
  {% trans "What questions should you ask? Where should you go to find help? Our reporters have a lot of tips and contacts to aid you in your search for a good nursing home, including a checklist with the ten most important points you should consider. This text is available in German." %}
</p>

<p>
  <a href="https://correctiv.org/recherchen/pflege/artikel/2016/06/02/wie-finde-ich-gute-pflege/">{% trans "Your guide to choosing a nursing home" %}</a>
</p>
