{% load i18n %}

<p>
  {% with auth=object.supervision_authority %}
    {% blocktrans with name=auth.name url=auth.url %}
      This home is supervised by the Heimaufsicht (nursing home authority) <a href="{{ url }}">{{ name }}</a>.
    {% endblocktrans %}
  {% endwith %}
</p>

{% with reports=object.supervisionreport_set.all %}
  {% if reports %}
    <p>
      {% trans "The nursing home authority reports on homes periodically. Here is an example of this report." %}
    </p>

    <ul>
    {% for report in reports %}
      <li>
        <a href="{{ report.report.url }}" target="_blank">
          {{ report.date }}
          {% if report.report_type %}
            ({{ report.report_type }})
          {% endif %}
        </a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    {% with example_report=object.get_example_report %}
      {% if example_report %}
        <p>
          {% blocktrans with url=example_report.report.url %}
            We don't have report for this nursing home, but <a href="{{ url }}" target="_blank">here is an example of how it looks like in your state</a>.
          {% endblocktrans %}
        </p>
      {% else %}
        <p>{% trans "Unfortunately, we don’t have any examples of reports from this home." %}</p>
      {% endif %}
    {% endwith %}
  {% endif %}
{% endwith %}

{% if object.supervision_authority %}

  {% if object.supervision_authority.report_url %}
    <p>
      <a href="{{ object.supervision_authority.report_url }}">
        {% trans "The supervision authority makes their reports available here" %}
      </a>
      {% trans "If you can't find it, ask below." %}
    </p>
  {% endif %}

  {% with fds_url=object.get_request_url %}
    {% if fds_url %}
      <a href="{{ fds_url }}" class="btn btn-primary btn-block">
        <h4>{% trans "Request your report with FragDenStaat.de" %}</h4>
        <p>
          {% trans "Click here to request reports from your local Heimaufsicht" %}
        </p>
      </a>
    {% endif %}
  {% endwith %}

{% endif %}
