{% load i18n %}
{% load humanize %}

<div class="nursinghomes__intro">
  <p>
    {% trans "For the past few months, Correctiv has looked through the inspection reports conducted by the Medizinische Dienst der Krankenversicherung (MDK) of every nursing home in Germany. The data was provided by AOK." %}
  {% if object.any_red_flag %}
    {% blocktrans with name=object.name redflag=object.red_flag_count|apnumber count count=object.red_flag_count %}
      Our analysis of the data shows that the nursing home <em>{{ name }}</em> doesn’t get all points in one important category.
    {% plural %}
      Our analysis of the data shows that the nursing home <em>{{ name }}</em> doesn’t get all points in {{ redflag }} important categories.
    {% endblocktrans %}
  {% else %}
    {% trans "We’ve analyzed five criteria in the AOK data and this nursing home’s report shows it doesn’t have problems in any of these areas. However, this doesn’t necessarily indicate that it is a good nursing home." %}
  {% endif %}
  </p>
</div>
