{% load i18n static sekizai_tags %}

<price-comparison></price-comparison>

{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static "correctiv_nursinghomes/css/bar-chart.css" %}" media="screen" charset="utf-8">
{% endaddtoblock %}

{% addtoblock "js" %}
  <script type="riot/tag" src="{% static 'correctiv_nursinghomes/js/price_comparison.tag' %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
  <script src="{% static 'vendor/riotjs/riot+compiler.min.js' %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
  <script>
    riot.mount("price-comparison", {
      items: {{ closest_nursinghomes|safe }},
      options: {
        carelevel_1: "{% trans 'Care level 1' %}",
        carelevel_2: "{% trans 'Care level 2' %}",
        carelevel_3: "{% trans 'Care level 3' %}"
      },
      initialOption: "carelevel_1",
      currency: "EUR",
      locale: "{{ LANGUAGE_CODE }}",
      na: "{% trans 'n/a' %}"
    })
  </script>
{% endaddtoblock %}
