{% load i18n static sekizai_tags %}

<price-comparison>

  <header class="page__section-header">
    <h3 class="page__section-headline">
      {% trans "Compare prices" %}
    </h3>
  </header>

</price-comparison>

<div class="well">
  <p>
    {% trans "We’ve compared ten nursing homes in your area. This is the amount you will have to pay yourself. Additionally, you will have to pay investment costs that are different between nursing homes. Important tip: If you’re looking for a good home, do not only compare prices." %}
  </p>
</div>

{% addtoblock "js" %}
  <script>
    correctiv.mount("price-comparison", {
      items: {{ price_comparison_json|safe }},
      options: {
        carelevel_1: "{% trans 'Care level 1' %}",
        carelevel_2: "{% trans 'Care level 2' %}",
        carelevel_3: "{% trans 'Care level 3' %}"
      },
      initialOption: "carelevel_1",
      currency: "EUR",
      locale: "{{ LANGUAGE_CODE }}",
      na: "{% trans 'n/a' %}"
    })
  </script>
{% endaddtoblock %}
