{% load i18n %}

<div class="row">
  <div class="col-md-8">
    {% if not is_index %}
      <div class="pull-right">
        <a href="{% url 'nursinghomes:nursinghomes-index' %}">
          {% trans "back to the index" %}
        </a>
      </div>
    {% endif %}
    <form action="{% url 'nursinghomes:nursinghomes-search' %}" method="get">
      <div class="form-group">
        <label for="id_q">
          {% trans "Search for a nursing home or PLZ" %}
        </label>
        <div class="input-group">
          {{ form.q }}
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">{% trans "Search" %}</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
