{% extends CMS_TEMPLATE %}

{% load i18n static %}
{% load sekizai_tags %}

{% block title %}{% blocktrans %}Database „Watch out for care!”{% endblocktrans %}{% endblock %}

{% block additional_meta %}
<meta name="description" content="{% blocktrans %}The database about which drugs where pushed by pharma companies.{% endblocktrans %}">
{% endblock %}

{% block main_wrapper %}

{% block top_search %}
<div class="page__container">
  <h1>{% trans "Database Search" %}</h1>
  <div class="row">
    <div class="col-md-8">
      {% if not is_index %}
        <div class="pull-right">
          <a href="{% url 'nursinghomes:nursinghomes-index' %}">
            {% trans "back to the index" %}
          </a>
        </div>
      {% endif %}
      <form action="{% url 'nursinghomes:nursinghomes-search' %}" method="get">
        <div class="form-group">
          <label for="id_q">
            {% trans "Search for a nursing home or PLZ" %}
          </label>
          <div class="input-group">
            {{ form.q }}
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">{% trans "Search" %}</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

<div class="page__container">
{% block content %}
{% endblock %}
</div>

{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static "correctiv_nursinghomes/css/nursinghomes.css" %}" media="screen" charset="utf-8">
{% endaddtoblock %}

{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static "correctiv_nursinghomes/jquery.auto-complete/jquery.auto-complete.css" %}" media="screen" charset="utf-8">
{% endaddtoblock %}

{% addtoblock "js" %}
  <script src="{% static "correctiv_nursinghomes/jquery.auto-complete/jquery.auto-complete.min.js" %}" charset="utf-8"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
  <script type="text/javascript">
  (function(){
    var searchUrl = '{% url 'nursinghomes:nursinghomes-search_json' %}';
    var xhr;
    $("#id_q").autoComplete({
      source: function(term, response){
        try { xhr.abort(); } catch(e){}
        xhr = $.getJSON(searchUrl, { q: term }, function(data){ response(data); });
      },
      renderItem: function (itemObj, search){
        item = itemObj.name;
        search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
        var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
        return '<div class="autocomplete-suggestion" data-url="' +itemObj.url + '" data-val="' + item + '">' +
              item.replace(re, "<mark>$1</mark>") + '</div>';
      },
      onSelect: function(e, term, item){
        e.preventDefault();
        document.location.href = $(item).data('url');
      }
    });
  }());
  </script>
{% endaddtoblock %}

{% endblock %}
