{% extends CMS_TEMPLATE %}

{% load i18n static %}
{% load sekizai_tags %}

{% block title %}{% blocktrans %}Nursing Home Guide{% endblocktrans %}{% endblock %}

{% block additional_meta %}
<meta name="description" content="{% blocktrans %}The guide to German nursing homes.{% endblocktrans %}">
{% endblock %}

{% block main_wrapper %}

{% addtoblock "js" %}
  <script src="{% static 'correctiv_nursinghomes/dist/bundle.js' %}"></script>
{% endaddtoblock %}

{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static 'correctiv_nursinghomes/dist/bundle.css' %}" media="screen" charset="utf-8">
{% endaddtoblock %}

{% block top_search %}{% endblock %}

<div class="page__container">
{% block content %}{% endblock %}
</div>

{% endblock %}
