{% extends "correctiv_nursinghomes/base.html" %}

{% load i18n %}
{% load number_utils %}
{% load humanize %}
{% load sekizai_tags %}
{% load leaflet_tags %}

{% block title %}{{ title }}{% endblock %}

{% block additional_meta %}
  <meta name="description" content="{{ description }}">
{% endblock %}

{% block top_search %}

  {% addtoblock "css" %}
    {% leaflet_css %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    {% leaflet_js %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script type="text/javascript">
      function map_init_basic (map, options) {
        var home = JSON.parse('{{ object.geo.geojson|safe }}');
        var latLng = home.coordinates.reverse();
        L.marker(latLng).addTo(map);
        map.zoomControl.setPosition('topright');
        map.setView(latLng, 12);
      }
    </script>

  {% endaddtoblock %}

  <header class="custom-leaflet-map">

    <div class="custom-leaflet-map__container">
      <header class="custom-leaflet-map__header">
        <h2 class="custom-leaflet-map__title">
          {{ object.name }}
        </h2>
        <p class="custom-leaflet-map__subtitle">
          {{ object.provider_type }}
        </p>
      </header>
    </div>

    {% leaflet_map "yourmap" callback="window.map_init_basic" %}

  </header>


{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-8">
    </div>
    <div class="col-lg-4">
      {{ object.address }}
      {{ object.data.Telefon }}
      {{ object.web }}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <ul class="entry-list">
        {% if object.red_flag_food %}
          <li>
            <article class="nursinghomes__red-flag -food">
            Es könnte sein, dass dieses Heim bei der Medikamentenversorgung einiger Bewohner die ärztlichen Anordnungen nicht befolgt hat.
            </article>
          </li>
        {% endif %}
        {% if object.red_flag_decubitus %}
          <li>
            <article class="nursinghomes__red-flag -decubitus">
            Es könnte sein, dass dieses Heim bei der Medikamentenversorgung einiger Bewohner die ärztlichen Anordnungen nicht befolgt hat.
            </article>
          </li>
        {% endif %}
        {% if object.red_flag_pain %}
          <li>
            <article class="nursinghomes__red-flag -pain">
            Es könnte sein, dass dieses Heim bei der Medikamentenversorgung einiger Bewohner die ärztlichen Anordnungen nicht befolgt hat.
            </article>
          </li>
        {% endif %}
        {% if object.red_flag_medicine %}
          <li>
            <article class="nursinghomes__red-flag -medicine">
            Es könnte sein, dass dieses Heim bei der Medikamentenversorgung einiger Bewohner die ärztlichen Anordnungen nicht befolgt hat.
            </article>
          </li>
        {% endif %}
        {% if object.red_flag_incontinence %}
          <li>
            <article class="nursinghomes__red-flag -incontinence">
            Es könnte sein, dass dieses Heim bei der Medikamentenversorgung einiger Bewohner die ärztlichen Anordnungen nicht befolgt hat.
            </article>
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="col-lg-4">
      <h3>{% trans "Next 10 nursing homes" %}</h3>
      <ul class="bar-chart">
        {% for home in closest_nursinghomes %}
        <li>
          {{ home.name }} /
          {{ home.prices.carelevel_1 }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <h3>{% trans "How you can inform yourself" %}</h3>

      {% with reports=}

      {% if object.supervision_authority %}
        {% if object.supervision_authority.report_url %}
          <a href="{{ object.supervision_authority.report_url }}">
            {% trans "You can find reports here" %}
          </a>
          <p>{% trans "If you can't find it, ask below." %}</p>
        {% endif %}

      {% with fds_url=object.get_request_url %}
        {% if fds_url %}
          <a href="{{ fds_url }}" class="btn btn-primary btn-lg">
            {% trans "Request the report for this nursinghome from the supervision authority" %}
          </a>
        {% endif %}
      {% endwith %}

        <h3>{% trans "Supervision Authority" %}</h3>
        {% with auth=object.supervision_authority %}
          {{ auth.name }}
          {% if auth.email %}
            {{ auth.email }}
          {% endif %}
          {{ auth.address }}
          {{ auth.contacts }}
        {% endwith %}
      {% endif %}

      <h3>{% trans "More Info" %}</h3>
    </div>
    <div class="col-lg-4">
    </div>
  </div>

  {% include "correctiv_nursinghomes/_disclaimer.html" %}
{% endblock %}
