{% extends "correctiv_nursinghomes/base.html" %}

{% load i18n %}
{% load number_utils %}
{% load humanize %}
{% load sekizai_tags %}
{% load cms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block additional_meta %}
  <meta name="description" content="{{ description }}">
{% endblock %}

{% block top_search %}
  {% include "correctiv_nursinghomes/_map.html" %}
{% endblock %}

{% block content %}

  <div class="page__row">
    <div class="page__section -narrow">
      {% include "correctiv_nursinghomes/_nursinghome_intro.html" with object=object %}
    </div>

    <div class="page__sidebar">
      <ul class="nursinghomes__contact">
        <li>{{ object.address }}, {{ object.postcode }} {{ object.location }}<br/>
        {% if object.data.Telefon %}
          <li>{{ object.data.Telefon }}</li>
        {% endif %}
        {% if object.web %}
          <li><a href="{{ object.web }}">{{ object.web }}</a></li>
        {% endif %}
      </ul>

      <div class="well">
        <p>
          {% blocktrans %}
            This data is based on reports by the MDK that were provided to us by the federal association of the AOK. The data can contain mistakes. If you know the nursing home and found a mistake, please <a href="mailto:aok-bundesverband@bv.aok.de">send an email directly to the AOK</a>. We cannot change the original data by ourselves, but you can help to make nursing homes more transparent for everybody.
          {% endblocktrans %}
        </p>

          <a href="mailto:AOK-Bundesverband@bv.aok.de?subject={{ object.name|urlencode }}">
            {% trans "You can get in touch with AOK here." %}
          </a>
      </div>

    </div>
  </div>

  <div class="page__row">
    {% static_placeholder "nursinghomes-detailbreak" %}
  </div>

  <div class="page__row">
    <div class="page__section -narrow">

      <header class="page__section-header ">
        <h3 class="page__section-headline">
          {% trans "From the transparency report" %}
        </h3>
      </header>

      {% include "correctiv_nursinghomes/_red_flags.html" %}
      {% include "correctiv_nursinghomes/_disclaimer.html" %}

    </div>

    <div class="page__sidebar">
      {% include "correctiv_nursinghomes/_price_comparison.html" %}
    </div>
  </div>

  <div class="page__row">
    <div class="page__section -narrow">

      <header class="page__section-header ">
        <h3 class="page__section-headline">
          {% trans "How you can get more information" %}
        </h3>
      </header>

      {% include "correctiv_nursinghomes/_more_info.html" %}

    </div>
    <div class="page__sidebar -no-header">

      <div class="well">
        <h3>{% trans "About this investigation" %}</h3>

        <p>{% trans "We investigated issues with the infrastructure of the nursing homes since the beginning of 2015. We talked to hundreds of people and analyzed data from all transparency reports in Germany." %}</p>

        <a href="https://correctiv.org/pflege/">
          {% trans "You can find our full research here" %}
        </a>
      </div>

      <div class="well">
        <h3>{% trans "Independent journalism needs independet funding" %}</h3>

        <p>{% trans "Anyone can write nice features. We want to reveal injustice. As an independent non-profit organization, we need your help. Become a member and help us continue our investigations. " %}</p>

        <a class="well__cta" href="https://correctiv.org/pflege/">
          {% trans "Support CORRECTIV" %}
        </a>
      </div>

      {% static_placeholder "nursinghomes-detailsidebar" %}
    </div>
  </div>

{% endblock %}
