{% extends "correctiv_nursinghomes/base.html" %}

{% load i18n %}
{% load number_utils %}
{% load humanize %}
{% load sekizai_tags %}
{% load cms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block additional_meta %}
  <meta name="description" content="{{ description }}">
{% endblock %}

{% block top_search %}
  {% include "correctiv_nursinghomes/_map.html" %}
{% endblock %}

{% block content %}

  <div class="page__row">
    <div class="page__section -narrow">
      {% include "correctiv_nursinghomes/_nursinghome_intro.html" with object=object %}
    </div>

    <div class="page__sidebar">
      {% include "correctiv_nursinghomes/_contact.html" %}
    </div>
  </div>

  <div class="page__row">
    <div class="page__section -narrow">
      {% include "correctiv_nursinghomes/_nursinghome_facts.html" with object=object %}
    </div>

    <div class="page__sidebar">
      {% include "correctiv_nursinghomes/_price_comparison.html" %}

      {% if object.notes %}
        <div class="well">
          <h3>{% trans "Notes by this nursing home" %}</h3>
          <p>
            {{ object.notes|linebreaksbr }}
          </p>
        </div>
      {% endif %}
    </div>
  </div>


  <div class="page__row">
    {% static_placeholder "nursinghomes-detailbreak" %}
  </div>

  <div class="page__row">
    <div class="page__section -narrow">

      <header class="page__section-header ">
        <h3 class="page__section-headline">
          {% trans "From the transparency report" %}
        </h3>
      </header>

      {% include "correctiv_nursinghomes/_red_flags.html" %}
      {% include "correctiv_nursinghomes/_disclaimer.html" %}

    </div>

    <div class="page__sidebar">

      <header class="page__section-header ">
        <h3 class="page__section-headline">
          {% trans "About this investigation" %}
        </h3>
      </header>

      <div class="well">
        <p>{% trans "We investigated issues with the infrastructure of the nursing homes since the beginning of 2015. We talked to hundreds of people and analyzed data from all transparency reports in Germany." %}</p>

        {% if LANGUAGE_CODE == "de" %}
        <a href="https://correctiv.org/pflege/">
          {% trans "You can find our full research in German here." %}
        </a>
        {% else %}
        <p>
          <a href="https://correctiv.org/pflege/">
            {% trans "You can find our full research in German here." %}
          </a>
        </p>
        <p>
          <a href="https://correctiv.org/en/investigations/nursing-homes/">
            {% trans "You can find some of our research in English here." %}
          </a>
        </p>
        {% endif %}
      </div>

    </div>
  </div>

  <div class="page__row">
    <div class="page__section -narrow">

      <header class="page__section-header ">
        <h3 class="page__section-headline">
          {% trans "How you can get more information" %}
        </h3>
      </header>

      {% include "correctiv_nursinghomes/_more_info.html" %}

    </div>
    <div class="page__sidebar">

      <header class="page__section-header ">
        <h3 class="page__section-headline">
          {% trans "Support CORRECTIV" %}
        </h3>
      </header>

      <div class="well">
        <h3>{% trans "Independent journalism needs independent funding" %}</h3>

        <p>{% trans "Anyone can write nice features. We want to reveal injustice. As an independent non-profit organization, we need your help. Become a member and help us continue our investigations. " %}</p>

        <a class="well__cta" href="https://correctiv.org/unterstuetzen/">
          {% trans "Support CORRECTIV" %}
        </a>
      </div>

      {% static_placeholder "nursinghomes-detailsidebar" %}
    </div>
  </div>

{% endblock %}
